<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanban Login</title>
    <script th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
</head>
<body>

<h1>Kanban Login</h1>

<form th:action="@{/login}" method="post">

    <div th:if="${param.error}">Invalid credentials.</div>

    <div th:if="${param.logout}">You have logged out.</div>

    <div>
        <label for="username">Email: </label>
        <input id="username" name="username"/>
    </div>

    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password"/>
    </div>

    <button type="submit">Submit</button>

</form>

</body>
</html>